*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header-home{
    background-color: aquamarine;
}

.header-logo{
    margin-left: 15rem;
}
.logo{
    background-color: blue;
    width: 6rem;
    font-size: 1.4rem;
}
 nav{
    margin-left: 83rem;
 }

.menu{
    width: 25rem;
}

.menu ul{
    display: flex;
    justify-content: space-evenly;
}

.menu li{
    list-style: none;
    cursor: pointer;
}


/* EFEITOS */
.menu li:hover{
    transform: scale(1.1);
    transition: 0.4s;
}